In [1]:
# import all necessary libs 
import pandas as pd
import numpy as np

In [6]:
# read data from the scv 's
train_path = 'data/train.csv'
test_path = 'data/test.csv'

train_set = pd.read_csv(train_path)
test_set = pd.read_csv(test_path)

In [10]:
# print out the data set && check the loop
print("--------------Train Set--------------")
print(train_set[:5])
print("--------------Test Set--------------")
print(test_set[:5])

--------------Train Set--------------
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
--------------Test Set--------------
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [14]:
# check out what feature the data set we have ?
print(sorted(train_set.columns.tolist()))
print(sorted(test_set.columns.tolist()))

['Age', 'Cabin', 'Embarked', 'Fare', 'Name', 'Parch', 'PassengerId', 'Pclass', 'Sex', 'SibSp', 'Survived', 'Ticket']
['Age', 'Cabin', 'Embarked', 'Fare', 'Name', 'Parch', 'PassengerId', 'Pclass', 'Sex', 'SibSp', 'Ticket']

In [20]:
#Some side note here for each paramters
1. Age: 
2. Cabin: 船舱
3. Embarked: 登船港口
4. Fare: 船票价格
5. Name: 姓名
6. Parch: 直系亲属数量（父母/子女）
7. PassengerId: 乘客ID
8. Pclass: 船舱等级（客舱等级）
9. Sex: 性别
10. SibSp:  旁系亲属数量（兄弟姐妹/配偶）
11. Ticket: 船票号码

SyntaxError: invalid syntax (<ipython-input-20-e3551032b19c>, line 2)